@tailwind base;
@tailwind components;
@tailwind utilities;


/* @layer base {
    body{
        background-color: aliceblue;
    }
} */

.slick-slide > div {
    margin: 20px 0px 20px 0px;
    padding-left: 20px;
}